:root {
  --neuShadow: -4px -4px 6px rgba(230, 230, 230, 0.225), 4px 4px 6px rgba(0, 0, 0, 0.239);
  --bigShadow: -4px -4px 6px rgba(215, 215, 215, 0.225), 4px 4px 6px rgba(0, 0, 0, 0.258);
  --orangeShadow: -4px -4px 6px rgba(251, 140, 36, 0.657), 4px 4px 6px rgba(0, 0, 0, 0.506);
  --introBackground: rgb(214, 112, 33);
  --corners: 18px;
  --introFont: 'Philosopher', sans-serif;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
  color: rgb(220, 220, 220);
  background-color: rgb(180, 68, 37);
}

.sectionContainer {
  margin: 0 15px;
  padding: 20px 0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 10px;
}

.buttons {
  font-size: 17px;
  box-shadow: var(--neuShadow);
  width: 4em;
  height: 2em;
  border-radius: var(--corners);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 1px;
  margin-left: 20px;
  margin-right: 20px;
}

p.buttons:hover {
  font-weight: bold;
  box-shadow: -4px -4px 6px rgba(255, 255, 255, 0.515), 4px 4px 6px rgba(0, 0, 0, 0.515);
  cursor: pointer;
}

#picture {
  width: 210px;
  height: auto;
  border-radius: 40px;
  margin-top: 20px;
  margin-left: 38vw;
  position: absolute;
  box-shadow: var(--bigShadow);
}

.intro {
  box-shadow: var(--neuShadow);
  border-radius: var(--corners);
  background-color: var(--introBackground);
  width: 270px;
  height: 275px;
  margin-top: 175px;
  margin-left: 10vw;
  padding-left: 12px;
  padding-right: 12px;
}

#first {
  font-size: 1.5em;
  background-color: var(--introBackground);
  border-radius: var(--corners);
}

/* #second {
  font-size: 45px;
  margin-left: 49px;
  background-color: var(--introBackground);
  font-style: italic;
  font-family: var(--introFont);
} */

h1 {
  font-size: 45px;
  margin-left: 49px;
  background-color: var(--introBackground);
  font-style: italic;
  font-family: var(--introFont);
}

#third {
  background-color: var(--introBackground)
}

#fourth {
  background-color: var(--introBackground)
}

h2 {
  font-family: var(--introFont);
  font-style: italic;
}

/* 
.headingFont {
  font-family: var(--introFont);
  font-style: italic;
} */

#aboutPicture {
  width: 185px;
  height: auto;
  border-radius: 40px;
  margin-right: 15px;
  box-shadow: var(--bigShadow);
  float: left;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card {
  position: relative;
  margin: 10px 0 10px 0;
}

.overlay {
  z-index: 1;
  position: absolute;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.647);
  width: 80vw;
  height: 99%;
  border-radius: var(--corners);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay-top {
  background-color: rgba(54, 54, 54, 0);
}

.overlay-title-row {
  display: flex;
  /* text-align: center; */
  justify-content: space-between;
  background-color: rgba(54, 54, 54, 0);
}

.overlay-bottom {
  padding: 0 0 5% 0;
  background-color: rgba(54, 54, 54, 0);
}

.overlay-title {
  background-color: rgba(54, 54, 54, 0);
  margin-left: 10px;
}

.overlay-text {
  background-color: rgba(54, 54, 54, 0);
  margin-left: 10px;
}

.closeOverlay {
  font-size: 17px;
  background-color: var(--introBackground);
  box-shadow: -4px -4px 6px rgba(230, 230, 230, 0.323), 4px 4px 6px rgba(0, 0, 0, 0.465);
  width: 35px;
  height: 35px;
  font-weight: bold;
  border-radius: 25px;
  text-align: center;
  padding-bottom: 3px;
  margin: 10px 10px 0 0;
  cursor: pointer;
}

.overlayButtons {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background-color: rgb(0,0,0,0);
}

.overlayButtons p {
  margin: 0;
}

.overlayButtons a {
  text-decoration: none;
  border-radius: var(--corners);
}

.repo {
  font-size: 17px;
  background-color: var(--introBackground);
  box-shadow: -4px -4px 6px rgba(230, 230, 230, 0.324), 4px 4px 6px rgba(0, 0, 0, 0.465);
  width: 130px;
  height: 35px;
  border-radius: var(--corners);
  text-align: center;
  padding-top: 5px;
  align-self: flex-end;
}

.deployApp {
  font-size: 17px;
  background-color: var(--introBackground);
  box-shadow: -4px -4px 6px rgba(230, 230, 230, 0.324), 4px 4px 6px rgba(0, 0, 0, 0.465);
  width: 130px;
  height: 35px;
  border-radius: var(--corners);
  text-align: center;
  padding-top: 5px;
}

#happiest {
  width: 80vw;
  border-radius: var(--corners);
  box-shadow: var(--bigShadow);
}

#night {
  width: 80vw;
  border-radius: var(--corners);
  box-shadow: var(--bigShadow);
}

#beach {
  width: 80vw;
  border-radius: var(--corners);
  box-shadow: var(--bigShadow);
}

.iconBackground {
  background-color: white;
  border-radius: 10%;
  padding: 4%;
}

.icon {
  width: 35px;
}

.iconAlt {
  width: 35px;
}

#iconStyles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconRow {
  display: flex;
  align-items: center;
  margin: 10px auto;
}

.iconRowAlt {
  display: flex;
  align-items: center;
}

.contactStyle {
  position: absolute;
  margin-left: 50px;
  font-style: italic;
}

.contactStyleAlt {
  position: absolute;
  margin-left: -100px;
  font-style: italic;
}

#footer {
  padding-bottom: 10px;
  text-align: center;
}

@media (min-width: 481px) {
  #picture {
    width: 230px;
    height: auto;
    margin-left: 45vw;
  }

  .intro {
    width: 300px;
    height: 275px;
    margin-top: 180px;
    padding-left: 15px;
    margin-left: 22vw;
  }
}

@media (min-width: 769px) {
  :root {
    --bigFont: 30px;
    --regFont: 18px;
  }
  
  #navbar {
    justify-content: center;
    padding-bottom: 20px;
  }

  .buttons {
    font-size: 19px;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .sectionContainer {
    margin: 0 10%;
  }

  #picture {
    width: 325px;
    height: auto;
    margin-left: 42vw;
  }

  .intro {
    width: 375px;
    height: 325px;
    margin-top: 230px;
    padding-left: 20px;
    margin-left: 25vw;
  }

  p.font {
    font-size: var(--regFont);
  }

  #second {
    font-size: 58px;
  }

  /* #aboutSection {
    font-size: var(--bigFont);
  } */

  #aboutPicture {
    width: 210px;
    margin-right: 20px;
  }

  .about {
    font-size: 18px;
  }

  /* #projectsSection {
    font-size: var(--bigFont);
  } */

  .overlay {
    width: 60vw;
    height: 99%;
  }

  .overlay-title {
    font-size: 38px;
  }

  .overlay-text {
    font-size: 24px;
  }

  @media (max-width: 2000px) {
    .overlay-title {
      font-size: 32px;
    }
    
    .overlay-text {
      font-size: 24px;
    }
  }

  #happiest {
    width: 60vw;
  }

  #night {
    width: 60vw;
  }

  #beach {
    width: 60vw;
  }

  /* #contactSection {
    font-size: var(--bigFont);
  } */

  #iconStyles {
    font-size: var(--regFont);
  }

  .icon {
    width: 40px;
  }
  
  .iconAlt {
    width: 40px;
  }
}

@media (min-width: 1025px) {
  #picture {
    width: 350px;
    height: auto;
    margin-left: 48vw;
  }

  .intro {
    width: 425px;
    height: 300px;
    margin-top: 280px;
    margin-left: 30vw;
  }

  .overlay {
    width: 50vw;
    height: 99%;
  }

  #happiest {
    width: 50vw;
  }

  #night {
    width: 50vw;
  }

  #beach {
    width: 50vw;
  }
}

@media (min-width: 1201px) {
  #aboutPicture {
    width: 185px;
  }
}
